
   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/new.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <title> <%= title %> </title>
</head>

<body>
    <nav>
        <a href="/">
            <input type="button" id="home" value="Home">
        </a>
    </nav>

    <h1>Add New Ticket</h1>
    <form action="/flights/<%= flight._id %>/tickets/new" method="POST" id="add" autocomplete="off">
       
        <label>Seat</label>
            <input name="seat" required pattern="[A-F][1-9]\d?">
        
        <label>Price</label>
            <input name="price" type="number">
            <input type="submit" id="addTick" value="Add Ticket">
    </form>
</body>

</html>